<!DOCTYPE html>
<html>
   <body>
    </div>
      {% block content %} {% endblock %}
    <div>
        <footer>
            <center>
            <p>
                <small>
                    &copy; 2014, Amazon Web Services LLC or its affiliates. All rights reserved.
                </small>
            </p>
             
        <img width="160" vspace="8" height="21" src="//d36cz9buwru1tt.cloudfront.net/awsmedia/logo_an_amazon_company.gif"></img>
            </center>
        </footer>
   </body>

</html>
